@font-face {
	font-family: "Father-Farmhouse-Sans";
	src: url("./assets/fonts/FatherFarmhouseSans-vmgJ4.otf");
}

@font-face {
	font-family: "Kumbh-Sans";
	src: url("./assets/fonts/KumbhSans-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Kristen-ITC";
	src: url("./assets/fonts/ITCKRIST.ttf");
}

@font-face {
	font-family: "Mali";
	src: url("./assets/fonts/Mali-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Mali";
	src: url("./assets/fonts/Mali-SemiBold.ttf");
	font-weight: 600;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--asparagus: #68a357;
	--seashell: #f7ebe8;
	--navbar-height: 10rem;
	--dark-green: #1a3b2d;
	--pink: #c37d92;
	--green-sheen: #76afa7;
}

html,
body,
#root,
.App {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--seashell);
}

.App {
	font-family: sans-serif;
}
