@font-face {
	font-family: "Father-Farmhouse-Sans";
	src: url("./assets/fonts/FatherFarmhouseSans-vmgJ4.otf");
}

@font-face {
	font-family: "Kumbh-Sans";
	src: url("./assets/fonts/KumbhSans-VariableFont_wght.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--asparagus: #68a357;
	--seashell: #f7ebe8;
	--navbar-height: 12rem;
	--dark-green: #1a3b2d;
}

html,
body,
#root,
.App {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--seashell);
}

.App {
	font-family: sans-serif;
}
