.account-page {
	height: calc(100% - var(--navbar-height));
	display: flex;
}

.account-page .welcome {
	font-family: "Kumbh-Sans";
	font-size: 3.2rem;
	font-weight: 500;
}

.account-content {
	background-color: white;
	width: 50rem;
	height: 90%;
	padding: 4rem 3rem;
	margin: auto;
	border-radius: 1rem;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.account-page-button {
	background-color: var(--asparagus);
	padding: 2rem 1rem;
	border: none;
	border-radius: 1rem;

	color: white;
	font-family: "Kumbh-Sans";
	font-size: 2.4rem;
	font-weight: 400;
}
