.recipe-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    font-family: "Kumbh-Sans", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.25rem;
    padding: 10px 40px;
    position: relative;
}
.recipe-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    border-bottom: 1px solid #CCC;
}

.recipe-container>* {
    flex: 0 0 auto;
}




.recipe-container input[type="checkbox"] {
    margin-right: 10px;
}
